{% extends "base.html "%}
{% load static %}
{% block content %}
        <div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">
                        <div class="row tm-banner-row" id="tm-section-search">
                            <table class="tm-d-table">
                                <thead>
                                    <tr>
                                        <th class="titulo-tabla" style="color:white">Nombre</th>
                                        <th class="titulo-tabla" style="color:white">Empresa</th>
                                        <th class="titulo-tabla" style="color:white">Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cliente in cliente_list %}
                                    <tr>
                                        <td class="tabla" >{{ cliente.nombre }}</td>
                                        <td class="tabla" style="color:white">{{ cliente.empresa }}</td>
                                        <td class="tabla" style="color:white"><a href="{% url 'clientesDetailView' cliente.id %}">Ver</a> </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->
                </div>     <!-- .tm-container-outer -->
            </section>
        </div>
{% endblock %}
