{% extends "base.html "%}
{% load static %}
{% block content %}
         <div class="tm-page-wrap mx-auto" style="max-height:500px ">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">
                        <div class="row tm-banner-row" id="tm-section-search">
                             <table>
                                <thead>
                                    <tr>
                                        <th style="color:white">Nombre</th>
                                        <th style="color:white">Empresa</th>
                                        <th style="color:white">Telefono</th>
                                        <th style="color:white">Email</th>
                                        <th style="color:white">Datos adicionales</th>
                                        <th style="color:white">Editar</th>
                                        <th style="color:white">Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="color:white">{{ cliente.nombre }}</td>
                                        <td style="color:white">{{ cliente.empresa }}</td>
                                        <td style="color:white">{{ cliente.telefono }}</td>
                                        <td style="color:white">{{ cliente.email }}</td>
                                        <td style="color:white">{{ cliente.datos_adicionales }}</td>
                                        <td style="color:white"><a href="{% url 'clientesUpdateView' cliente.id %}">Actualizar</a> </td>
                                        <td style="color:white"><a href="{% url 'clientesDeleteView' cliente.id %}">Borrar</a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->
                </div>     <!-- .tm-container-outer -->
            </section>
         </div>
{% endblock %}
