{% extends "base.html "%}
{% load static %}
{% block content %}

        <div class="tm-page-wrap mx-auto" style="max-height:500px ">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">
                        <div class="row tm-banner-row" id="tm-section-search">
                            <table class="tablados">
                                <thead>
                                    <tr>
                                        <th class="tablados">DNI</th>
                                        <th class="tablados">Nombre</th>
                                        <th class="tablados">Apellidos</th>
                                        <th class="tablados">Email</th>
                                        <th class="tablados">Telefono</th>
                                        <th class="tablados">Estado</th>
                                        <th class="tablados">Editar</th>
                                        <th class="tablados">Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tablados">{{ empleado.dni }}</td>
                                        <td class="tablados">{{ empleado.nombre }}</td>
                                        <td class="tablados">{{ empleado.apellidos }}</td>
                                        <td class="tablados">{{ empleado.email }}</td>
                                        <td class="tablados">{{ empleado.telefono }}</td>
                                        <td class="tablados">{{ empleado.estado }}</td>
                                        <td class="tablados"><a href="{% url 'empleadosUpdateView' empleado.id %}">Actualizar</a> </td>
                                        <td class="tablados"><a href="{% url 'empleadosDeleteView' empleado.id %}">Borrar</a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->
                </div>     <!-- .tm-container-outer -->
            </section>
        </div>
{% endblock %}
