{% extends "base.html "%}
{% load static %}
{% block content %}

        <div class="tm-page-wrap mx-auto" style="max-height:500px ">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">
                        <div class="row tm-banner-row" id="tm-section-search">
                            <table class="tablados">
                                <thead>
                                    <tr>
                                        <th style="color:white">Nombre</th>
                                        <th style="color:white">Apellidos</th>
                                        <th style="color:white">Ver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for empleado in empleado_list %}
                                    <tr>
                                        <td style="color:white">{{ empleado.nombre }}</td>
                                        <td style="color:white">{{ empleado.apellidos }}</td>
                                        <td style="color:white"><a href="{% url 'empleadosDetailView' empleado.id %}">Ver</a> </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->
                </div>     <!-- .tm-container-outer -->
            </section>
        </div>
{% endblock %}
