{% extends "base.html "%}
{% load static %}
{% block content %}

         <div class="tm-page-wrap mx-auto" style="max-height:500px ">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">
                        <div class="row tm-banner-row" id="tm-section-search">
                            <form action="{% url 'empleadosDeleteView' empleado.id %}" method="post">
                                {% csrf_token %}
                                <p style="color:white">¿Estás seguro de que deseas eliminar el empleado {{ empleado.nombre }} {{ empleado.apellidos }}?</p>
                                <input class="btn-primary" type="submit" value="Sí"/>
                               <button class="btn-primary"> <a href="{% url 'empleadosListView' %}" style="color:white"> No. Volver al listado de empleados </a></button>
                            </form>
                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->
                </div>     <!-- .tm-container-outer -->
            </section>
        </div>
{% endblock%}
