{% extends "base.html "%}
{% load static %}
{% block content %}


        <div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">
                        <div class="row tm-banner-row" id="tm-section-search">
                            <form class="tm-search-form tm-section-pad-2">
                                <h1 class="titulo" style="color: black"> ¿Quiénes somos? </h1>
                                <p style="color: black"> Somos una empresa que se dedica a la realización de proyectos, principalmente de digitalización, en la zona norte del país.</p>
                                <h1 style="color: black"> ¿Cómo se usa la página? </h1>
                                <p style="color: black"> En esta página se pueden crear proyectos, asignados a un cliente, unos empleados y con unas tareas. Pero, cuidado, <strong> LAS TAREAS SOLO SE PUEDEN CREAR DESPUÉS DE CREAR UN PROYECTO</strong> en el menú de crear Tareas. Además, se pueden crear, ver detalle, ver en listado, editar y eliminar todos los proyectos, tareas, clientes y empleados</p>
                            </form>



                            <div id="div_js" class="row tm-banner-row">

                                <form id="formulario_id"  class="tm-search-form tm-section-pad-2" name="formulario">
                                    {% csrf_token %}
                                     <div class="form-row tm-search-form-row">
                                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                            <label style="color:black" >Usuario</label>
                                            <input name="usuario" id="usuario" type="text" class="form-control"  placeholder="Nombre" required>
                                        </div>
                                         <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                            <label style="color:black">Titulo</label>
                                             <input style="height: 100px;max-height: 100px; min-height: 100px"
                                                    type="text" id="titulo" name="titulo" class="form-control"
                                                    placeholder="Escribe aquí tu pregunta">
                                        </div>
                                         <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                            <label style="color:black">Mensaje</label>
                                             <input style="height: 100px;max-height: 100px; min-height: 100px"
                                                    id="mensaje" type="text" name="mensaje" class="form-control"
                                                    placeholder="Escribe aquí tu pregunta">
                                        </div>
                                         <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                            <label for="btnSubmit">&nbsp;</label>
                                            <button  class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">Enviar pregunta</button>
                                        </div>
                                     </div>

                                </form>

                            </div>

                        </div> <!-- row -->
                    </div>  <!-- .container -->
                <!-- .tm-container-outer -->
                </div> </section>
        </div>

<script>
    const SERVICE_URL = "http://127.0.0.1:8000/myApp/preguntas/";
    var form = document.getElementById("formulario_id");
    var loadBtn = document.getElementById("btnSubmit");
    let formulario = new FormData(form);

    loadBtn.onclick = loadData;


    function loadData() {
    fetch(SERVICE_URL, {method: 'POST', body: formulario})
        .then((response) => response.json())
        .then ((json) => {
        console.log(json);
            });
    }
    loadData();
</script>

{% endblock %}

