{% extends "base.html "%}
{% load static %}
{% block content %}



        <div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
                                <div class="tm-banner-header">
                                    <h1 class="text-uppercase tm-banner-title">Crear Proyecto</h1>
                                    <img src="{% static 'img/dots-3.png' %}" alt="Dots">
                                    <p class="tm-banner-subtitle">Crealo aquí</p>
                                    <a href="javascript:void(0)" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>       
                                </div>    
                            </div>  <!-- col-xs-12 -->                      
                        </div> <!-- row -->
                        <div class="row tm-banner-row" id="tm-section-search">

                            <form action="{% url 'registroProyecto' %}" method="post"  class="tm-search-form tm-section-pad-2">
                                {% csrf_token %}
                                <div class="form-row tm-search-form-row">                                
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                        <label style="color:black" for="inputCity">Gestiona tu proyecto:</label>
                                        <input name="nombre" type="text" class="form-control" id="inputCity" placeholder="Nombre del proyecto..." required>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                        <label style="color:black" for="inputCity">Descripción</label>
                                        <textarea style="height: 100px;max-height: 100px; min-height: 100px" type="text" name="descripcion" class="form-control" placeholder="Descripción del proyecto..."></textarea>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                        <label style="color:black" for="inputCity">Cliente</label>
                                        <select id="select_clientes" name="cliente" required>
                                                {% for cliente in clientes_list %}
                                                <option value="{{ cliente.id }}"> {{ cliente.nombre}}</option>
                                                {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                        <label style="color:black" for="inputCity">Empleados</label>
                                        <select id="select_empleados" name="empleados" multiple required>
                                                {% for emp in empleado_list %}
                                                <option value="{{ emp.id }}"> {{ emp.nombre}}  {{emp.apellidos}}</option>
                                                {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                        <label style="color:black" for="inputCity">Presupuesto</label>
                                        <input name="Presupuesto" type="number" class="form-control" placeholder="Presupuesto" required>
                                    </div>

                                </div> <!-- form-row -->
                                <div class="form-row tm-search-form-row">

                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                        <label style="color:black" for="inputCheckIn">Fecha de inicio</label>
                                        <input name="fecha_inicio" type="date" class="form-control" id="inputCheckIn" placeholder="Inicio" required>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                        <label style="color:black" for="inputCheckOut">Fecha final</label>
                                        <input name="fecha_final" type="date" class="form-control" id="inputCheckOut" placeholder="Fin" required>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                        <label style="color:black" for="btnSubmit">&nbsp;</label>
                                        <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit"> Crear Proyecto </button>
                                    </div>
                                </div>                              
                            </form>                             

                        </div> <!-- row -->

                    </div>  <!-- .container -->                   
                </div>     <!-- .tm-container-outer -->                 
            </section>
        </div>
{% endblock %}


