{% extends "base.html "%}
{% load static %}
{% block content %}

        <div class="tm-page-wrap mx-auto" style="max-height:500px ">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        
                        <div class="row tm-banner-row" id="tm-section-search">

                            <form action="{% url 'registroTarea' %}" method="post" class="tm-search-form tm-section-pad-2">
                                {% csrf_token %}
                                <div class="form-row tm-search-form-row">

                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                        <label style="color:black">Añade una tarea al proyecto</label>
                                        <input name="nombre" type="text" class="form-control inputCity" placeholder="Nombre de la tarea..." required>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">

                                        <label style="color:black">Descripción</label>

                                        <label for="inputCity">Proyecto</label>
                                        <select id="select_clientes" name="proyecto" required>
                                                {% for proyecto in proyecto_list %}
                                                <option value="{{ proyecto.id }}"> {{ proyecto.nombre }}</option>
                                                {% endfor %}
                                        </select>
                                    </div>
                                   <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                        <label style="color:black" for="inputCity">Descripción</label>
                                        <textarea style="height: 100px;max-height: 100px; min-height: 100px" type="text" name="descripcion" class="form-control" placeholder="Descripción del proyecto..."></textarea>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                        <label style="color:black">Notas</label>
                                        <textarea style="height: 100px;max-height: 100px; min-height: 100px" type="text" name="notas" class="inputCity form-control" placeholder="Notas sobre la tarea"></textarea>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                        <label style="color:black">Responsable</label>
                                        <select id="select_responsable" name="responsable" multiple required>
                                                {% for resp in responsable_list %}
                                                <option value="{{ resp.id }}"> {{ resp.nombre}}  {{resp.apellidos}}</option>
                                                {% endfor %}
                                        </select>
                                    </div>

                                        
                                    
                                </div> <!-- form-row -->
                                <div class="form-row tm-search-form-row">

                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                        <label style="color:black" for="inputCheckIn">Fecha de inicio</label>
                                        <input name="fecha_inicio" type="date" class="form-control" id="inputCheckIn" placeholder="Inicio" required>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                        <label style="color:black" for="inputCheckOut">Fecha final</label>
                                        <input name="fecha_fin" type="date" class="form-control" id="inputCheckOut" placeholder="Fin" required>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                        <label style="color:black" for="inputCheckOut">Prioridad</label>
                                        <select id="Prioridad" name="prioridad" class="form-control" style="height: 40px" required>
                                            <optgroup label="-------">
                                                <option>Alta</option>
                                                <option>Media</option>
                                                <option>Baja</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                        <label style="color:black" for="inputCheckOut">Estado</label>
                                        <select id="Estado" name="estado" class="form-control" style="height: 40px" required>
                                            <optgroup label="-------">
                                                <option>Sin empezar</option>
                                                <option>En marcha</option>
                                                <option>Acabada</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                        <label for="btnSubmit">&nbsp;</label>
                                        <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">Añadir Tarea</button>
                                    </div>

                                </div>     

                            </form>                             

                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->                   
                </div>     <!-- .tm-container-outer -->                 
            </section>
</div>
{% endblock %}
