
{% extends "base.html "%}
{% load static %}

    {% block content %}
           <div class="tm-banner-bg">
                <form  style="margin-right:200px; margin-left: 200px; background-color: transparent">
                    <h1 class="tm-banner-title" style="color:white; text-align:center; padding:20px">Bienvenido a nuestro proyecto!</h1>
                    <p class="tm-banner-subtitle" style="color:white; text-align:center; padding:20px">Este es el proyecto que ha sido realizado por Iker Benito, Aritz Sáez y Ainara López, esperemos que le pongas buena nota!</p>
                </form>
           </div>


























    <!-- load JS files -->

       {% endblock %}