{% extends "base.html "%}
{% load static %}
{% block content %}


        <div class="tm-page-wrap mx-auto" style="max-height:500px ">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">


                        <div class="row tm-banner-row" id="tm-section-search">

                            <table class="tablados">
                                <thead>
                                    <tr>
                                        <th class="tablados">Nombre</th>
                                        <th class="tablados">Descripcion</th>
                                        <th class="tablados">Fecha de inicio</th>
                                        <th class="tablados">Fecha final</th>
                                        <th class="tablados">Presupuesto</th>
                                        <th class="tablados">Cliente</th>
                                        <th class="tablados">Empleados</th>
                                        <th class="tablados">Editar</th>
                                        <th class="tablados">Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tablados">{{ proyecto.nombre }}</td>
                                        <td class="tablados">{{ proyecto.descripcion }}</td>
                                        <td class="tablados">{{ proyecto.fecha_inicio }}</td>
                                        <td class="tablados">{{ proyecto.fecha_fin }}</td>
                                        <td class="tablados">{{ proyecto.presupuesto }}</td>
                                        <td class="tablados">{{ proyecto.cliente }}</td>
                                        <td class="tablados">
                                            {% for emp in empleados %}
                                            <ul>
                                                ·{{emp.nombre}} {{emp.apellidos}}
                                            </ul>
                                            {% endfor %}
                                        </td>
                                        <td style="color:white">{{ proyecto.empleado }}</td>
                                        <td style="color:white"><a href="{% url 'proyectosUpdateView' proyecto.id %}">Actualizar</a></td>
                                        <td style="color:white"><a href="{% url 'proyectosDeleteView' proyecto.id %}">Borrar</a></td>

                                    </tr>
                                </tbody>
                            </table>

                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->
                </div>     <!-- .tm-container-outer -->
            </section>
</div>
{% endblock %}
