{% extends "base.html "%}
{% load static %}
{% block content %}


        <div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">


                        <div class="row tm-banner-row" id="tm-section-search">

                            <table>
                                <thead>
                                    <tr>
                                        <th style="color:white">Nombre</th>
                                        <th style="color:white">Proyecto</th>
                                        <th style="color:white">Descripcion</th>
                                        <th style="color:white">Fecha de inicio</th>
                                        <th style="color:white">Fecha final</th>
                                        <th style="color:white">Responsable</th>
                                        <th style="color:white">Prioridad</th>
                                        <th style="color:white">Estado</th>
                                        <th style="color:white">Notas</th>
                                        <th style="color:white">Editar</th>
                                        <th style="color:white">Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="color:white">{{ tarea.nombre_tarea }}</td>
                                        <td style="color:white">{{ tarea.proyecto }}</td>
                                        <td style="color:white">{{ tarea.descripcion }}</td>
                                        <td style="color:white">{{ tarea.fecha_inicio }}</td>
                                        <td style="color:white">{{ tarea.fecha_fin }}</td>
                                        <td style="color:white">{{ tarea.nombre }}</td>
                                        <td style="color:white">{{ tarea.prioridad }}</td>
                                        <td style="color:white">{{ tarea.estado }}</td>
                                        <td style="color:white">{{ tarea.notas }}</td>
                                        <td style="color:white"><a href="{% url 'tareasUpdateView' tarea.id %}">Actualizar</a> </td>
                                        <td style="color:white"><a href="{% url 'tareasDeleteView' tarea.id %}">Borrar</a> </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->
                </div>     <!-- .tm-container-outer -->
            </section>
</div>
{% endblock%}
