{% extends "base.html "%}
{% load static %}
{% block content %}
         <div class="tm-page-wrap mx-auto" style="max-height:500px ">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">


                        <div class="row tm-banner-row" id="tm-section-search" >
                            <form action="{% url 'tareasUpdateView' tarea.id %}" method="post" class="tm-search-form tm-section-pad-2">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input class="btn btn-primary tm-btn tm-btn-search text-uppercase" type="submit" value="Actualizar"/>
                            </form>
                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->
                </div>     <!-- .tm-container-outer -->
            </section>
        </div>
{% endblock %}
