{% extends "base.html "%}
{% load static %}
{% block content %}


        <div class="tm-page-wrap mx-auto" style="max-height:500px ">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">


                        <div class="row tm-banner-row" id="tm-section-search">

                            <table class="tablados">
                                <thead>
                                    <tr>
                                        <th class="tablados">Nombre</th>
                                        <th class="tablados">Proyecto</th>
                                        <th class="tablados">Descripcion</th>
                                        <th class="tablados">Fecha de inicio</th>
                                        <th class="tablados">Fecha final</th>
                                        <th class="tablados">Responsable</th>
                                        <th class="tablados">Prioridad</th>
                                        <th class="tablados">Estado</th>
                                        <th class="tablados">Notas</th>
                                        <th class="tablados">Editar</th>
                                        <th class="tablados">Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tablados">{{ tarea.nombre_tarea }}</td>
                                        <td class="tablados">{{ tarea.proyecto }}</td>
                                        <td class="tablados">{{ tarea.descripcion }}</td>
                                        <td class="tablados">{{ tarea.fecha_inicio }}</td>
                                        <td class="tablados">{{ tarea.fecha_fin }}</td>
                                        <td class="tablados">{{ tarea.nombre }}</td>
                                        <td class="tablados">{{ tarea.prioridad }}</td>
                                        <td class="tablados">{{ tarea.estado }}</td>
                                        <td class="tablados">{{ tarea.notas }}</td>
                                        <td class="tablados"><a href="{% url 'tareasUpdateView' tarea.id %}">Actualizar</a> </td>
                                        <td class="tablados"><a href="{% url 'tareasDeleteView' tarea.id %}">Borrar</a> </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div> <!-- row -->
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->
                </div>     <!-- .tm-container-outer -->
            </section>
</div>
{% endblock%}
